@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .nav-links {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors;
  }
}

.select-container {
  width: 200px;
  position: relative;
}

.select-dropdown {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none; /* Removes default arrow in most browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-dropdown:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select-dropdown option {
  color: #333;
}
